*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Nunito',sans-serif;
    background-image: url("images/mountains_fog1.jpg");
    background-color: black;
    background-size: cover;
    transition-delay: 200ms;
}
.input{
    text-align: center;
    padding: 5rem;
    
}
input[type="text"]{
    height: 50px;
    width: 600px;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px;
}
input[type="submit"]{
    height: 50px;
    width: 100px;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    margin: 30px;
}
.display{
    background-color: black ;
    width: 40%;
    margin: auto;
    border: 5px;
    border-radius: 5px;
    opacity: 0.75;
}
.fad.fa-sun{
    color: #ff9705;
}
.fa-sun-haze{
    color: #05c5ff;
}
.fa-cloud-rain{
    color:#0586ff;
}
.fas.fa-fog{
 color:#a6a6a6;
}
.content{
    text-align: center;
    color: aliceblue;
    padding:10px;
}
.display h1{
    padding:10px;
}
.display p{
    padding:20px;
    text-transform: capitalize;
}

@media(max-width:500px){
    input[type="text"]{
        height: 30px;
        width: 200px;
        background-color: aliceblue;
        font-weight: bold;
        font-size: 10px;
        border: none;
        border-radius: 2px;
        padding: 5px;
    }
    input[type="submit"]{
        height: 30px;
        width: 50px;
        background-color: aliceblue;
        font-weight: bold;
        font-size: 10px;
        border: none;
        border-radius: 2px;
        margin-top: 20px;
    }
    body{
        background-image: url("images/mountains_fogmobile.jpg");
        font-size: 10px;
    }
    .display{
        text-align: center;
        color: aliceblue;
        padding:5px;
    }
}
