
*{
    text-align: center;
    text-transform: capitalize;
    font-family: 'ubuntu',sans-serif;
}
body{
    background-image: url(./images/wide-forest.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.row{
    color: antiquewhite;
}
.basic h1,h3{
    display: inline;
    font-family: 'Montserrat', sans-serif;
}
.wind-info{
    padding-top: 100px;
}
.input{
    text-align: center;
    padding: 5rem;
}
input[type="text"]{
    height: 50px;
    width: 600px;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px;
}
input[type="submit"]{
    height: 50px;
    width: 100px;
    background-color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    margin: 30px;
}
.basic-left{
    border-radius: 30px;
    border-style: dashed;
}
.basic-right{
    border-radius: 30px;
    border-style: dashed;
}
.basic{
    border: 5px;
}
@media(max-width:500px){
    input[type="text"]{
        height: 30px;
        width: 200px;
        background-color: aliceblue;
        font-weight: bold;
        font-size: 10px;
        border: none;
        border-radius: 2px;
        padding: 5px;
    }
    input[type="submit"]{
        height: 30px;
        width: 50px;
        background-color: aliceblue;
        font-weight: bold;
        font-size: 10px;
        border: none;
        border-radius: 2px;
        margin-top: 20px;
    }
    body{
        background-image: url(./images/forest.jpg);
    }
}
